body
{
	
background: url(../images/fon.jpg) 100%  no-repeat;
background-size: cover;
background-position: center top;
}


@media (max-width: 767px) {
.nav-justified
{
display: none;	
}

.nav > li > a
{	
padding: 10px 15px;
}
.centr
{
height: 390px;
margin-top: 65px;
}	

.container>.jumbotron>h1

{
font-size: 63px;
letter-spacing: 15px;

}

.sml
{
	font-size: 15px;
	left: 5px;
	top: -5px;
}

}

@media (max-width: 450px) {
	

.sml
{
	font-size: 10px;
	left: 5px;
	top: -5px;
}

	
	.container>.jumbotron>h1

{
font-size: 45px;
letter-spacing: 10px;


		
		
		
}}
@media (min-width: 768px) {
.header {
display: none;	
}

.nav > li > a
{
    color: #fff;
	padding-top: 23px;
	font-size: 24px;
}

.sml
{
	font-size: 30px;
	left: 12px;
	top:-10px;
}

.centr
{
height: 640px;
margin-top: 230px;
}

.container>.jumbotron>h1

{
font-size: 130px;
letter-spacing: 15px;

}}

.yslygi{
	
	width:100%;
	height: auto;
	background-color: rgb(132,118,118);
	margin:0;
	padding:0;
	
}

.yslygi>ul
{
	margin:0;
	padding:0;
}


.yslygi>ul>li
{
	display: inline-block;
	width:358px;
	height:425px;
	background-color: #bbb;
	margin:0;
	padding:0;
}

.dsd
{
	
background: url(../images/fon.jpg) 100%  no-repeat;
background-size: cover;
background-position: center top;	
	
}

.ffon > .container
{
	

	
	
}

.ffon{
background: url(../images/verh.jpg) 100% no-repeat;
background-size:  cover;
background-position: center top;

}
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
font-family: Calligraph;
src: local(lol), url(../fonts/Calligraph.ttf);
}

@font-face {
font-family: Lato;
src: local(lol), url(../fonts/Lato.ttf);
}

@font-face {
font-family: Lato_italic;
src: local(lol), url(../fonts/Lato_italic.ttf);
}


.menuu
{
width: 100%;
position: absolute;
background-color: rgba(0,0,0,0.7);	
}



.nav-justified
{
	height:90px;
}

.nav > li > a
{	
font-family: Lato_italic;
letter-spacing: 1px;

}


h1>span>.glyphicon {
  position: relative;
  top: -10px;
  left: 12px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.telf
{
	font-size: 24px;
	left: 0px;
	top: 5px;
	
}


.container>.jumbotron

{	
border-radius: 0px;	
background-color: rgba(0,0,0,0);
color: fff;
margin-bottom: 0px;	
}
.centr
{
box-shadow:0 0 100px #000, 0 0 7px #fff;
}
a.knopka
{
	position: relative;
	width: 180px;
	height: 50px;
	background-color: rgb(128,242,249);
	box-shadow:5px 5px 10px #0007;	
	border-radius: 5px;
	float: right;
	text-decoration: none;
	transition: 0.2s;
	text-align: center;
	color: #000;
	padding-top: 2px;
	letter-spacing: 2px;
	font-weight: 300;
	font-family: Lato, cursive;
}



a.knopka:hover { background: rgb(53, 167, 110);}
a.knopka:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}



.texd {
color: #123;
position: relative;
}

.header .navbar {
    background: rgba(0,0,0,0.5);
}


.marc{
	font-family: 'Sedgwick Ave Display', cursive;
	color: #fff;
}

.gloria
{
color: #fff;
text-align:  center;
font-family: Calligraph;


}


.lead{
	
	font-family: Lato, cursive;
	letter-spacing: 1px;
	
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  font-family: Calligraph;
  font-size: 20px;
  letter-spacing: 2px;
}