body
{
	
background: url(../images/fonv.jpg) 100%  repeat;
font-family: Lato;
font-size: 20px;
letter-spacing: 2px;
font-style: normal;
font-weight: lighter;
box-shadow: inset 0 0 200px rgba(0,0,0,0.6);;
}



@media (max-width: 767px) {
.nav-justified
{
display: none;	
}

.nav > li > a
{	
padding: 10px 15px;
}
.centr
{
height: 390px;
margin-top: 65px;
}	

.container>.jumbotron>h1

{
font-size: 63px;
letter-spacing: 15px;

}

.sml
{
	font-size: 15px;
	left: 5px;
	top: -5px;
}

}

@media (max-width: 450px) {
	

.sml
{
	font-size: 10px;
	left: 5px;
	top: -5px;
}

	
	.container>.jumbotron>h1

{
font-size: 45px;
letter-spacing: 10px;


		
		
		
}}
@media (min-width: 768px) {
.header {
display: none;	
}

.nav > li > a
{
    color: #fff;
	padding-top: 23px;
	font-size: 24px;
}

.sml
{
	font-size: 30px;
	left: 12px;
	top:-10px;
}

.centr
{
	
height: 640px;
margin-top: 230px;
}

.container>.jumbotron>h1

{
font-size: 130px;
letter-spacing: 15px;

}}


.ysl{
	
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center;
	top: 47px;	
	font-size: 30px;
	letter-spacing: 5px;
	
	

}

.yslygi>div>p

{
color:rgb(37,7,7);
}

.yslygi>div>p:last-of-type

{
color:rgb(255,255,255);
}

.yslygi>div>p>span

{

font-family: Calligraph;
font-size: 22px;
}


.yslygi>img
{
	border-radius: 20px 0 20px 0 ;
	
	
	
}

.ysl>b
{
color: #fff;	
	
}

.ysl>b>span{
	
	top: -2px;
	font-size: 18px;
	margin: 0 8px;
	
	
}



.yslygi
{
	background-color: #847676;
	padding: 55px 27px 0px 27px;
}



.ffon{
background: url(../images/verh.jpg) 100% no-repeat;
background-size:  cover;
background-position: center top;

}
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
font-family: Calligraph;
src: local(lol), url(../fonts/Calligraph.ttf);
}

@font-face {
font-family: Lato;
src: local(lol), url(../fonts/Lato.ttf);
}

@font-face {
font-family: Lato_italic;
src: local(lol), url(../fonts/Lato_italic.ttf);
}


.menuu
{
width: 100%;
position: absolute;
background-color: rgba(0,0,0,0.7);	
}



.nav-justified
{
	height:90px;
}

.nav > li > a
{	
font-family: Lato_italic;
letter-spacing: 1px;

}


h1>span>.glyphicon {
  position: relative;
  top: -10px;
  left: 12px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.telf
{
	font-size: 24px;
	left: 0px;
	top: 5px;
	
}


.container>.jumbotron

{	
border-radius: 0px;	
background-color: rgba(0,0,0,0);
color: #fff;
margin-bottom: 0px;	
}
.centr
{
box-shadow:0 0 7px #fff, 0 0 100px #000;
z-index:6;
}
a.knopka
{
	position: relative;	
	background-color: rgb(128,242,249);
	box-shadow:0px 5px 8px #000000;	
	border-radius: 5px;
	text-decoration: none;
	transition: 0.2s;
	text-align: center;
	color: #000;	
	font-family: Lato, cursive;
	z-index: 999;	
	line-height: normal;	
}

.knost
{
	float: right;
	font-size: 21px;
	width: 180px;
	height: 50px;
	padding-top: 9px;
	letter-spacing: 2px;
}

.knysl
{
	width: 160px;
	height: 45px;
	font-size: 15px;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	letter-spacing: 1px;
}


a.knopka:hover { background: rgb(0,191,255);}
a.knopka:active {
  background: rgb(0,191,255);
  box-shadow: 0 3px rgb(104,104,89) inset;
}



.texd {
color: #123;
position: relative;
}

.header .navbar {
    background: rgba(0,0,0,0.5);
}


.marc{
	font-family: 'Sedgwick Ave Display', cursive;
	color: #fff;
}

.gloria
{
color: #fff;
text-align:  center;
font-family: Calligraph;


}


.lead{
	
	font-family: Lato, cursive;
	letter-spacing: 1px;
	
}

.navbar-brand {
  float: left;
  padding: 12px 15px;
  line-height: 20px;
  font-family: Calligraph;
  font-size: 20px;
  letter-spacing: 2px;
}