@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
font-family: Calligraph;
src: local(lol), url(../fonts/Calligraph.ttf);
font-display: swap;
}

@font-face {
font-family: Lato;
src: local(lol), url(../fonts/Lato.ttf);
font-display: swap;
}

@font-face {
font-family: Lato_italic;
src: local(lol), url(../fonts/Lato_italic.ttf);
font-display: swap;
}

*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body
{
position: relative;
background: url(../images/fonv.webp) 100%  repeat;
font-family: Lato;
font-size: 20px;
letter-spacing: 2px;
font-style: normal;
font-weight: lighter;
margin: 0;
min-width: 320px;
}

body.lock{
  overflow: hidden;
}

.container{
  margin: 0px auto;
  max-width: 798px;
  padding: 0px 15px;
}

.wrapper{
  position: relative;
  background-image: radial-gradient(circle at bottom, transparent 75px, #443b3b 76px);
  filter: drop-shadow(0px 30px 20px rgba(0, 0, 0));
  z-index: 1;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);  
}

.header__body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__burger{
  display: none;
}

.header__list{
  display: flex;
  height: 100%;
}

.header__link.phone{
font-size: 29px;
font-family: Calligraph;
}

.header__link
{	
font-family: Lato_italic;
letter-spacing: 1px;
color: #fff;
text-decoration: none;
display: block;
height: 100%;
padding: 25px 14px 0px 14px;
font-size: 24px;
}

.header__link:active
{	

background-color: none;
}

.header__link:hover
{	
transition: ease 0.3s;
background-color: rgba(255, 255, 255, 0.39);
}


.header__list li{
  list-style: none;
}




h1.gloria i{
  font-size: 30px;
  bottom: 20px;
  display: inline-block;
  position: relative;
}

h1.gloria{
font-size: 130px;
letter-spacing: 15px;

}

h2.services__h2 i{
  font-size: 15px;
  bottom: 5px;
  display: inline-block;
  position: relative;

}

.line{
  border: 1px;
  border-style: solid;
  margin-bottom: 30px;
}

.services__h2{
	
  position: relative;
  margin-bottom: 30px;
	
	width: 100%;
	text-align: center;
	font-size: 30px;
	letter-spacing: 5px;
	
	

}

.services__item{

  float: left;
  width: 50%;

}



.services__item>div>p

{
color:rgb(37,7,7);
margin: 5px 0;
font-size: 23px;
font-weight: 100;
}

.services__item>div>p:last-of-type

{
color:rgb(255,255,255);
}

.services__item>div>p>span

{

font-family: Calligraph;
font-size: 22px;
}


.services__item>img{
	border-radius: 20px 0 20px 0 ;
	
	
	
}

.services__h2 b{
color: #fff;	
	
}





.services__item{
	position: relative;
  padding: 0px 27px 35px 27px;
}



.header__background{
background: url(../images/verh.webp) 100% no-repeat;
background-size:  cover;
background-position: center top;
padding-top: 200px;
}




.jumbotron{	
  border-radius: 0px;	
  background-color: rgba(0,0,0,0);
  color: #fff;
  box-shadow:0 0 7px #fff, 0 0 100px #000;
  padding: 40px 40px 10px 40px;
  height: 640px;
}
.popup{
  background-color: rgba(0,0,0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding: 40px 20px 20px 20px;
  overflow: scroll;
  color: #fff;
}
.show{
  display: block;

}
.hidden{
  display: none;
}
.popup__info__body{
  position: relative;
  padding: 30px;
  background-color: #443b3bcc;
  box-shadow:0 0 7px #fff, 0 0 100px #000;
  border-radius: 15px;
  overflow: hidden;
}

.popup .btn__services{
  padding-top: 0px;
}

.popup h2{
  color: #fff;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 20px;
}

.popup__getservice__body{
  position: relative;
  padding: 30px 30px 0px 30px;
  background-color: #443b3bcc;
  box-shadow:0 0 7px #fff, 0 0 100px #000;
  border-radius: 15px;
  overflow: hidden;
}


.popup__close{
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  z-index: 4;
  right: 0;
  margin-top: -15px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
}

.popup__close:before, .popup__close:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
  
}

.popup__close span{
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 9px;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease 0s;
}

.popup__close:before{
  transform: rotate(45deg);
  top: 9px;
}

.popup__close:after{
  transform: rotate(-45deg);
  bottom: 9px;
}


.popup__text{
  color: #fff;
  position: relative;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: 1px;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-between;
}
.form__group {
  font-size: 15px;
  margin: 0 0 20px;
  position: relative;
}

.form__label{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

}

.form__label .form__label__title {
  line-height: 1.5;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 2px;
  min-height: 24px;
}

.form__group.half-width {
  flex-basis: calc(50% - 10px);
}

.form__group:first-child {
  margin-top: 0;
}
.form__group.full-width {
  flex-basis: 100%;
}

button, input {
  overflow: visible;
}
.contact-us-form__actions {
  text-align: right;
}
.contact-us-form__actions button[type="button"] {
  background: #8d9496;
}
.form__control:not([type='checkbox']):not([type='radio']) {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #61616180;
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  color: #414141;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  transition: border-color .15s;
}

.btn{
	position: relative;	
	background-color: rgb(128,242,249);
	box-shadow:0px 5px 8px #000000;	
	border-radius: 5px;
	
	transition: 0.2s;
	text-align: center;
	color: #000;	
	font-family: Lato, cursive;
	display: block;
	line-height: normal;	
}

.btn:hover { background: rgb(0,191,255);}
.btn:active {
  background: rgb(0,191,255);
  box-shadow: 0 3px rgb(104,104,89) inset;
}


.btn__jumbotron{
	float: right;
	font-size: 21px;
	width: 180px;
	height: 50px;
	padding-top: 9px;
  letter-spacing: 2px;
  margin-right: 20px;
  text-decoration: none;
}

.btn__services{
  float: none;
  font-size: 15px;
	width: 160px;
  height: 45px;
  padding-top: 12px;
  letter-spacing: 1px;
	margin-left: auto;
  margin-right: auto;
  text-decoration: none;
	
	
}



.auth {
  margin-left: 290px;
  margin-right: auto;
  position: relative;
  height: 100%;
  
  width: 256px;
  overflow: visible;
  
}

  .inp {
  height: 28px;
  display: flex;
  width: 247px;
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding-left: 5px;
  float: right;
}

::placeholder {
  color: rgb(163, 163, 163);
}





  .opisanie {
  font-weight: 500;
  color: #000;
  font-size: 14px;
  width: 400px;
}

  .stroka {
  width: 100%;
  margin-top: 80px;  
  height: 30px;
  justify-content: space-between;
  display: flex;
}
  .vhod {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 1.2em;
}

  .reg {
  color: rgb(95, 168, 0);
  text-decoration: none;
}

  .form-group{
  padding: 0 0px;
  margin: 0 0 25px 0;
  position: relative;
}
  





.text-center{
  text-align: center;
}





.gloria{
  color: #fff;
  text-align:  center;
  font-family: Calligraph;
  font-weight: 100;
  font-size: 30px;
}


.lead{
	
	font-family: Lato, cursive;
	letter-spacing: 1px;
	line-height: 30px;
}

.lead:last-of-type{

  margin-bottom: 30px;
}




/* Слайдер */
.slider{
  position: relative;
  width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}
.slider .slick-arrow{
  position: absolute;
  top: 30%;
  color: #443b3b;
  margin-left: -49px;
  margin-right: -49px;
  cursor: pointer;
}

.slick-arrow:focus, .slick-arrow:active{
  outline: none;
}

.slider__item{
  text-align: center;
  height: 235px;
  margin-top: 15px;
  
  
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  height: 261px;
  margin-bottom: 60px;
  display: flex;
}
/* Слайд */
.slick-slide{
}

.photo{
  
  border: 2px solid #fff;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
  
}
/* Слайд основной */
.slick-slide.slick-current{
  
}
/* Слайд по центру */
.slick-slide.slick-center{
  height: 261px;
  margin-top: 0px;
}
.slick-slide.slick-center .photo{
  width: 100%;
  margin-top: 0px;
}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
  width: 38px;
  height: 76px;
  background: #ccc;
  font-size: 30;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
  left: 0;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}


/* Стрелка вправо */
.slick-arrow.slick-next{
  right: 0;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}


.semicircle{
  position: absolute;
  display: flex;
  width: 150px;
  height: 75px;
  left: 50%;
  margin-left: -75px;
  bottom: 0px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  z-index: 1;
}
.brown {
  background:#443b3b;
  
}



.portfolio {
  padding: 30px 0px 0px 0px;
  position: relative;
  overflow: hidden;

  z-index: 2;

  }


.kontakti{
  padding: 30px 0px 55px 0px;
  
  position: relative;
  overflow: hidden;
  font-size: 15px;
  z-index: 1;
  line-height: 30px;
  
  }





.info{
  display: flex;
  position: relative;
  justify-content: space-between;
  color: #fff;
}

.col3 span{
  font-size: 15px;
  bottom: 0px;
  color: #fff;
}

.services {
  padding: 30px 0px 20px 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.lightbrown {
  background-color: #847575;
}

.footer__background{
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0, 0.7), #000);;
  height: 715px;
  z-index: 0;
}


.slick-arrow i{
  border-radius: 2px;
  border: solid #443b3b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}



.right {
  margin-left: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-right: 8px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


@media (max-width: 798px) {

  body.lock{
    overflow: hidden;
  }

  .container{
    margin: 0px auto;
    padding: 0px;
  }


  .popup{

    padding: 20px;
  }

  .services {
    padding: 30px 0px 0px 0px;
  }

  .header{
    z-index: 3;
  }
  
  .header__body{

    height: 60px;

  }

  .header__burger{
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 4;
    right: 0;
    margin-right: 20px;
  }

  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;

  }
  
  .header__burger:before{
    top: 0;
  }

  .header__burger:after{
    bottom: 0;
  }

  .header__burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span{
    transform: scale(0);
  }
  .header__menu{

    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active{
    top: 0;
  }
  
  .header:before{
    z-index: 3;
  }

  .header__list{
    display: block;
  }
  
  .header__link
  {	
    display: block;
    padding: 15px;
    height: 70px;
    right: 0px;
    position: relative;
    text-align: center;
    width: 60%;
    min-width: 270px;
    margin: 0px auto;
  }
  
  .header__link:active
  {	
  
    
  
  }
  
  .header__link:hover
  {	
    border: 1px solid #fff;
  }
  
  
  .header__list li{
    margin: 0;
  }


  h1.gloria i{
    font-size: 20px;
    bottom: 5px;

  }



  .slider{
    position: relative;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .slider__item{
    text-align: center;
    height: auto;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;

    
  }

  .slider__item .photo{
    width: 100%;
    
    
  }
  
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track{
    height: auto;
    margin-bottom: 0px;
    display: flex;
  }
  /* Слайд */
  .slick-slide{
    
  }
  
  .photo{
    
    border: 2px solid #fff;
  }
  /* Слайд активный (показывается) */
  .slick-slide.slick-active{
    
  }
  /* Слайд основной */
  .slick-slide.slick-current{
    
  }
  /* Слайд по центру */
  .slick-slide.slick-center{
    height: auto;
    margin-top: 0px;
  }
  .slick-slide.slick-center .photo{
    width: 100%;
    margin-top: 0px;
  }



  .wrapper {

    
    background-color: #443b3b;
    background-image: none;
    filter: none;
    padding-bottom: 27px;
  }
  .semicircle{
    display: none;
  }


  

  .centr
  {
  height: 390px;
  margin-top: 65px;
  }	
  .services__item{

    float: left;
    width: 100%;
  
  }

  .jumbotron

  {
  
  box-shadow: none;
  padding: 30px 40px 10px 40px;
  height: 440px;
  }



  h1.gloria
  
  {
  font-size: 63px;
  letter-spacing: 15px;
  
  }

  .col3{
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .col3 span{
    font-size: 30px;
    bottom: 0px;
    color: #fff;
  }

  .cont{
    margin-bottom: 10px;

  }

  .map{

    width: 100%;
    height: 500px;
  }
  

  .info{
    
    display: block;
    position: relative;
    
  }

  
  .footer__background{
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, 0.7), #000);;
    height: 1100px;
    z-index: 0;
  }
  .kontakti{
    padding: 30px 27px 0px 27px;
    font-size: 20px;
  }

  }
  
  @media (max-width: 510px) {

    .contact-us-form {
      display: block;
   }
  }
  @media (max-width: 425px) {

    .header__background {
      padding-top: 150px;
    }



    h1.gloria{
      font-size: 50px;
      letter-spacing: 5px;
      
    }
    

    h1.gloria i{
      font-size: 15px;
      bottom: 5px;
      display: inline-block;
      position: relative;
      margin-left: 5px;
    }

  }


  @media (max-width: 370px) {



  






    h1.gloria{
      font-size: 50px;
      letter-spacing: 5px;
      
    }


    .jumbotron

    {
    
    box-shadow: none;
    padding: 30px 40px 10px 30px;
    height: 500px;
    }

    h2.services__h2 i{
      font-size: 15px;
      bottom: 5px;
      display: inline-block;
      position: relative;
    
    }
    h1.gloria i{
      font-size: 15px;
      bottom: 5px;
      display: inline-block;
      position: relative;
      margin-left: 5px;
    }
    .kontakti{
      padding: 10px 20px 0px 20px;
    }
    .map{
      height: 300px;
    }
    .header__background{
      padding-top: 100px;
    }
  }


